*.obj
*.db
*.ipch
.vs/Tetris/v15/.suo
*.ipch
*.suo
*.ipch
*.suo
*.ipch
.vs/Tetris/v15/.suo
*.opendb
.vs/Tetris/v15/ipch/AutoPCH/TETRIS-f251934c/BOARD-f5ebd630/BOARD.ipch
*.ipch
*.suo
.vs/Tetris/v15/ipch/AutoPCH/TETRIS-f251934c/APP-84ba4589/APP.ipch
*.ipch
.vs/Tetris/v15/.suo